################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.gitignore

/LurenjiaEngine/.vs
/LurenjiaEngine/Binaries
/LurenjiaEngine/Intermediate
/LurenjiaEngine/Saved
/LurenjiaEngine/Source/LurenjiaModelTool/FBX/lib/arm64
/LurenjiaEngine/Source/LurenjiaModelTool/FBX/lib/x64/release
/LurenjiaEngine/Source/LurenjiaModelTool/FBX/samples